<h2><%= @restaurant.name %></h2>
<p><i class="fa-solid fa-location-dot"></i><%=  @restaurant.address %></p>
<p><i class="fa-solid fa-hand-point-right"></i><%= @restaurant.category %></p>

<h5>Reviews</h5>
<% if @reviews.any? %>
  <ul>
    <% @reviews.each do |review| %>
        <p>
        <strong>Rating:</strong> <%= review.rating %>
        <strong>Content:</strong> <%= review.content %>
        </p>
    <% end %>
  </ul>
<% else %>
  <p>No reviews yet.</p>
<% end %>




<div>
  <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-outline-primary" %>
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-outline-primary" %>
</div>
